.todo-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.todo-list-item .btn {
	margin-left: 5px;
}
.todo-list-item .btn-outline-success {
	margin-left: auto;
}
