.add-todo {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  input {
    width: 80%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all .4s;
    &:active,
    &:focus {
      text-indent: 15px;
      outline-color: steelblue;
    }
  }
  button {
    margin-left: 8px;
    width: 20%;
  }
}
