.app-header {
  align-items: flex-end;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    margin-bottom: 3rem;
    flex-grow: 1;
  }
  h2 {
    font-size: 1.2rem;
    color: grey;
  }
}
